body {
  font-family: "Yu Gothic", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  padding-bottom: 60px; /* フッターの高さ + 余裕分 */
}


header, footer {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.date-section {
  margin-bottom: 20px;
}

.date-toggle {
  background-color: #eee;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.stamp-group {
  padding: 10px;
  border-left: 3px solid #ccc;
}

.saved-card {
  display: flex;
  gap: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.saved-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.saved-info h2 {
  margin: 0 0 5px;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.footer-nav button {
  background-color: #fff;
  border: 2px solid #c6c3c5;
  color: #C71585;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.footer-nav button:hover {
  background-color: #FDEFF2;
}